    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Mentary</h2>
                <p>My name is Mentary Fransiska. I am the daughter of father sumari and mother hery riani. I consist of 4 brothers. My home address on the road garuda sakti sakti km 3 pekanbaru.I am student at information system force of 2014  Head of department by Mr. Syaifullah, SE, M. Sc and representative of Anofrizen, M. Kom.</p>
                <p>information system is one subject that was on the faculty of science and technology state Islamic university Sultan Syarif Kasim Riau <a href="https://github.com/jeromelachaud"></a></p>
            
            </div>
        </div>
    </section>
