    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Nama saya Mentary Fransiska, anak dari bapak Sumari dan ibu Heri Riari. Saya mempunyai 4 saudara yang terdiri dari 3 saudara perempuan dan 1 saudara laki-laki. Alamat rumah jalan uka km 3 garuda sakti perumahan Mutiara Garuda Sakti Blog H-16.Saya kuliah di UIN Sultan Syarif Kasim Riau tepatnya jurusan Sistem Informasi</p>
                <p>Saya angkatan 2014 di <a href="https://sif.uin-suska.ac.id/" sistem informasi</a>. Ketua Jurusan Sistem Informasi diketuai oleh Syaifullah, SE, M. Sc dan Sekretaris Anofrizen, M. Kom. Sistem informasi merupakan salah satu mata pelajaran yang ada di fakultas sains dan teknologi universitas Islam Negeri Sultan Syarif Kasim Riau</p>
                <p> Ada pun sejarah dari UIN Suska Riau yaitu pada Peraturan Presiden RI Nomor 2 Tahun 2005 tanggal 4 Januari 2005 tentang Perubahan IAIN Sulthan Syarif Qasim Pekanbaru menjadi UIN Sultan Syarif Kasim Riau dan diresmikan pada 9 Februari 2005 oleh Presiden RI, Bapak Dr. H. Susilo Bambang Yudhoyono</p>
                <p>IAIN Susqa ini pada mulanya berasal dari beberapa Fakultas dari Perguruan Tinggi Agama Islam Swasta yang kemudian dinegerikan, yaitu Fakultas Tarbiyah Universitas Islam Riau di Pekanbaru, Fakultas Syariah Universitas Islam Riau di Tembilahan, dan Fakultas Ushuluddin Mesjid Agung An-Nur Pekanbaru. Ketika didirikan, IAIN Susqa hanya terdiri atas tiga Fakultas, yaitu Fakultas Tarbiyah, Fakultas Syari’ah, dan Fakultas Ushuluddin.</p>
                <p>Tahun akademik 2002/2003, IAIN Susqa sebagai persiapan UIN Suska Riau telah mempunyai 8 fakultas, yaitu: Fakultas Tarbiyah, Fakultas Syari’ah, Fakultas Ushuluddin, Fakultas Dakwah dan Ilmu Komunikasi, Fakultas Sains dan Teknologi, Fakultas Psikologi, Fakultas Ekonomi, dan Fakultas Peternakan.sekaran UIN beralamat di Jl. Subrantas Km. 15, Pekanbaru, 28293 Telp : 0761-562223 Email: humas@uin-suska.ac.id</p>
                <a href="https://uin-suska.ac.id" class="btn btn-default btn-lg">uin suska</a>
                <a href="https://sif.uin-suska.ac.id" class="btn btn-default btn-lg">sistem informasi</a>
            </div>
        </div>
    </section>
