    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Technologi</h2>
                    <p>You can download material presentation technologi for free on the preview page at slideshare.</p>
                    <a href="https://www.slideshare.net/mentaryfransiska/static-techniques-82363565" class="btn btn-default btn-lg">Static Techniques</a>
                    <a href="https://www.slideshare.net/mentaryfransiska/testing-throughout-the-software-life-cycle-82362465" class="btn btn-default btn-lg">Testing Throughout The Software Life Cycle</a>   
                    <a href="https://https://www.slideshare.net/mentaryfransiska/fundamentals-of-testing-82351549" class="btn btn-default btn-lg">Fundamentals Of Testing</a>
                    <a href="https://https://www.slideshare.net/mentaryfransiska/questions-and-answers-fundamentals-of-testing" class="btn btn-default btn-lg">Questions and Answers Fundamentals of Testing</a>
                </div>
            </div>
        </div>
    </section>
